//@import "essentials.less";

.color-slot {
	width: 100px;
	height: 70px;
	float: left;
	margin-right: .4em;
	color: #fafafa;
	text-align: center;
	padding-top: 1em;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: .9em;
}
.color-slot span {
	font-size: .8em;
}
.color-slot span.hash {
	text-transform: uppercase;
}
.color-primary {
	background-color: #1f90ff;
}
.color-success {
	background-color: #14892c;
}
.color-secondary {
	background-color: #fcb117;
}
.color-warning {
	background-color: #f79232;
}
.color-danger {
	background-color: #d04437;
}
.color-default {
	background-color: #eeeeee;
	color: #2e323b;
}
h3 {
	clear: both;
	margin-top: 1em;
}
.cl-wrap {
	width: 100%;
	float: left;
}
.color-txt {
	background-color: #333;
}
.color-subtext {
	background-color: #666;
}
.color-textsmall {
	background-color: #888;
}
